html,
body {
  margin: 0px;
  height: 100%;
}

#root {
  margin: 0px;
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex: 1;
}

.tableWrapper {
  height: 400px;
  width: 800px;
  margin: 5px;
}